/* @import "./base.css"; */

/*  
    Twitter :https://twitter.com/apus_network
    E6         <a href="mailto:jason@apus.network">contact us</a>
    GitHub: https://github.com/apusnetwork
    Net https://t.me/+AWdHtLSl2m4yM2I1
*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html,
body {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #000;
  font-weight: 300;
  margin: 0px;
  padding: 0px;
}

#app {
  padding: 0px;
  font-weight: normal;
}

ul {
  padding: 0px;
}

li {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}
div {
  background-color: transparent;
}
